.Side {
  position: relative;
  top: 20px;
  width: 400px;
  height: 610px;
  &-IconButton {
    position: absolute;
    display: block;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
  }
  &__paper {
    width: 90%;
  }
}

.IconButton {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
