.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}
.input {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.title {
  text-align: center;
}
