.invoice-title {
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #ffffff;
  &--mobile {
    top: -9px;
  }
}

.claim {
  width: 90vw;
  max-width: 600px;
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.currentItem {
  box-shadow: inset 0 0 0 5px #0000ff;
}

.item {
  cursor: pointer;
  user-select: none;
}
