.item {
  cursor: pointer;
  transition: background-color 0s ease-in-out;
  &:not(&--current):hover {
    box-shadow: inset 0 0 0px 5px rgba(0, 0, 255, 0.13);
  }
  &--current {
    box-shadow: inset 0 0 0px 5px blue;
  }
  &--mobile {
    font-size: 12px;
  }
}

.paper {
  max-height: 50%;
  position: relative;
  overflow: auto;
}
