.layout {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid #eee;
  overflow: hidden;
}
.line {
  width: calc(100% - 40px);
  border: none;
  height: 1px;
  background-color: #eee;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.button {
  height: 80px;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  &:hover {
    background-color: #f0f0f0;
  }
  &--warehouse {
    color: maroon;
  }
}
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &--start {
    transform: translate(-100%, -50%);
    color: #4caf50;
  }
  &--end {
    color: #f44336;
  }
}