.single-cell {
  background-color: #e0cca2;
  text-align: center;
}

.loading {
  opacity: 0.3;
  pointer-events: none;
}

.status {
  &--await-delivery {
    background-color: #ffffff20;
  }
  &--in-stock {
    background-color: #00ff0020;
  }
  &--claim {
    background-color: #ff000020;
  }
}

.table_row {
  td {
    cursor: pointer;
  }
}
