.img {
  height: 400px;
}

.card {
  // height: 550px;
  margin: 30px 0;
  position: relative;
}

.image-container {
  height: 400px;
  width: 100%;
  position: relative;
}

.content {
  min-height: 100px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
