.category-title {
  text-align: center;
  background-color: #e0cca2;
  position: sticky;
  top: -10px;
  z-index: 3;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lot-title {
  text-align: center;
  background-color: #fff;
  position: sticky;
  top: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
