.category-title {
  text-align: center;
  background-color: #e0cca2;
  position: sticky;
  top: 0;
  z-index: 3;
}

.lot-title {
  text-align: center;
  background-color: #fff;
  position: sticky;
  top: 30px;
}
